<a href="https://colab.research.google.com/github/asepmuhidin/OOP_C1/blob/main/Akses_Modifier_(Public%2C_Private%2C_Protected).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Akses Modifier (Public, Private, Protected)

## Public

In [1]:
class Mahasiswa:
  def __init__(self,nim,nama):
    self.nim=nim
    self.nama=nama

  def sayHello(self):
    print(f"Hallo...{self.nama}")

In [2]:
mhs1=Mahasiswa("123","Alfiah")
print(f"Halo nama saya {mhs1.nama}")

Halo nama saya Alfiah

In [3]:
#Akse method public
mhs1.sayHello()

Hallo...Alfiah

## Protected

In [4]:
class Mahasiswa:
  def __init__(self,nim,nama):
    self._nim=nim
    self._nama=nama

  def _sayHello(self):
    print(f"Hallo...{self._nama}")

In [6]:
mhs1=Mahasiswa("123","Alfiah")
#Akses attribute/method protected (TIDAK DIANJURKAN)
print(f"Halo nama saya {mhs1._nama}")
mhs1._sayHello()

Halo nama saya Alfiah
Hallo...Alfiah

## Private

In [10]:
class Mahasiswa:
  def __init__(self,nim,nama):
    self.__nim=nim
    self.__nama=nama

  def __sayHello(self):
    print(f"Hallo...{self.__nama}")

In [11]:
mhs1=Mahasiswa("123","Alfiah")
#Akses attribute/method private
print(f"Halo nama saya {mhs1.__nama}")
mhs1.__sayHello()

AttributeError: 'Mahasiswa' object has no attribute '__nama'

In [12]:
#Sebenarnya kita masih bisa mengakses atrribut/method private
#dengan cara name mangling, atruannya adalah :
#nama_objek._namaKelas__namaAtribut/method
print(f"Halo nama saya {mhs1._Mahasiswa__nama}")
mhs1._Mahasiswa__sayHello()

Halo nama saya Alfiah
Hallo...Alfiah

# Getter & Setter

In [13]:
class Mahasiswa:
  def __init__(self,nim,nama):
    self.__nim=nim
    self.__nama=nama

  #Getter nim
  def get_nim(self):
    return self.__nim

  #Setter nim
  def set_nim(self,value):
    self.__nim=value

  #Getter nama
  def get_nama(self):
    return self.__nama

  #Setter nama
  def set_nama(self,value):
    self.__nama=value

  def __sayHello(self):
    print(f"Hallo...{self.__nama}")

In [19]:
mhs1=Mahasiswa("111","Dimas")
print(f"Haloo {mhs1.get_nama()}")

mhs1.set_nama("Aris Maulana")
print(f"Haloo {mhs1.get_nama()}")

Haloo Dimas
Haloo Aris Maulana

## Penulisan Property pada Python

In [29]:
class Mahasiswa:
  def __init__(self,nim,nama):
    self.__nim=nim
    self.__nama=nama

  @property
  def nim(self):
    return self.__nim

  @nim.setter
  def nim(self,value):
    self.__nim=value

In [30]:
mhs1=Mahasiswa("123","Doni")
print(f"Haloo nim saya {mhs1.nim}")

Haloo nim saya 123

In [27]:
mhs1.nim("Aris")

TypeError: 'str' object is not callable

In [32]:
mhs1.nim="222"
print(f"Haloo nim saya {mhs1.nim}")

Haloo nim saya 222